<ion-view view-title="Lista de Comics">
   <ion-nav-buttons side="left"></ion-nav-buttons>
  <ion-header-bar class="bar-subheader bar-light item-input-inset">
    <label class="item-input-wrapper">
        <i class="icon ion-search placeholder-icon"></i>
        <input id="search" type="search" placeholder="Buscar por título o año" ng-model="buscar">
    </label>
  </ion-header-bar>
   <ion-content>
        <div class="list">
          <a class="item item-thumbnail-left" href="/#/descripcion/{{comic.id}}" ng-repeat="comic in comics | filter:buscar:strict">
          <img src="{{comic.thumbnail.path+'/portrait_medium.jpg'}}">
          <h2>{{comic.title}}</h2>
            <p>{{comic.dates[0].date | date:"yyyy"}}</p> 
            <p>{{comic.pageCount}} páginas</p>           
         </a>
        </div>
      <ion-infinite-scroll
        immediate-check="false"           
        on-infinite="cargarComics()"
        distance="1%">
       </ion-infinite-scroll>
    </ion-content>   
</ion-view>
