<ion-view view-title="Lista de Comics">
    <!-- <ion-nav-title>
    <img src='img/logo.png' align="middle" class="title-image" height="40" width="80"/>
  </ion-nav-title> -->
  <ion-header-bar class="bar-subheader bar-light item-input-inset">
    <label class="item-input-wrapper">
        <i class="icon ion-search placeholder-icon"></i>
        <input id="searchKey" type="search" placeholder="Buscar por título o año" ng-model="searchText" autocorrect="off" >
        <!-- <button class="button button-clear" ng-click="clearSearch()">X</button> -->
    </label>
  </ion-header-bar>
   <ion-content>
        <div class="list">
          <a class="item item-thumbnail-left" href="/#/descripcion/{{comic.id}}" ng-repeat="comic in comics | filter:searchText">
          <img src="{{comic.thumbnail.path+'/portrait_medium.jpg'}}">
          <h2>{{comic.title}}</h2>
            <p>{{comic.dates[0].date | date:"dd/MM/yyyy"}}</p>            
         </a>
        </div>
      <ion-infinite-scroll
        immediate-check="false"           
        on-infinite="cargarComics()"
        distance="1%">
       </ion-infinite-scroll>
    </ion-content>   
</ion-view>
