<div ng-controller="descripcioncomic">
	<ion-view view-title="Descripción de Comic">
    	<ion-content>	
	     	<div class="list card">

			  <div class="item item-avatar">
			    <img src="{{comic.thumbnail.path+'/portrait_medium.jpg'}}">
			    <h2><span ng-bind="comic.title"></span></h2>
			    <p><span ng-bind="comic.dates[0].date | date:'dd/MM/yyyy'"></span></p>
			  </div>

			  <div class="item item-body">
			  	<h2>Descripción</h2>
			    <img class="full-image" src="{{comic.images[0].path+'/portrait_medium.jpg'}}">
			    <p>
			      <span ng-bind="comic.description"></span>
			    </p>
			    <p>Tiene {{comic.pageCount}} páginas</p>
			    <p>Precio copia física: {{comic.prices[0].price}}$ - Precio copia digital: {{comic.prices[1].price}}$ </p>
			    <p>Para mas detalles visite este <a href="{{comic.urls[0].url}}">link</a></p>


			  </div>

			  <div class="item item-body">
			  	<h2>Personajes</h2>
         		<ul>
				    <li ng-repeat="character in comic.characters.items">{{character.name}}</li>
				</ul>
			  </div>

			   <div class="item item-body">
			  	<h2>Creadores</h2>

         		<ul>
				    <li ng-repeat="creator in comic.creators.items">{{creator.name}}</li>
				</ul>
			  </div>


			</div>
     	</ion-content>
	</ion-view>
</div>
